.sidenav{
    background-color: Grey;
    width: 15%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 20px 30px;

}

.container{
    margin-top: 2.2%;
    margin-left: 20%;
    
}